.bookings-page {
  padding: 32px 48px;
}

/* header*/
.bookings-top {
  margin-bottom: 24px;
}
.bookings-title {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.bookings-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color:#111;
}
/* booking card */
.booking-card{
    display: flex;
}
