.bookings-page {
  padding: 32px 48px;
}

/* header*/
.bookings-top {
  margin-bottom: 24px;
}
.bookings-title {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.bookings-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color:#111;
}
/* booking card */
.booking-card{
    display: flex;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid rgba(10, 37, 64, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    align-self: flex-start;
}
/*image left */ 
.booking-image{
    width: 120px;
    height: 104px;
    border-radius: 8px;
    background: #d9d9d9;
    overflow: hidden;
    flex-shrink: 0;
}
.booking-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* info in middle */
.booking-info h2{
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.booking-info p{
    color: #111;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin: 2px 0;
}
.booking-info p:last-child {
  font-size: 14px;
  font-weight: 500;
}

/* right side*/
.booking-meta{
    margin-left: auto;
    text-align: right;
}
.bookings-price{
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.booking-status{
    color: #22c55e;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
