.my-venues-page {
  padding: 32px 48px;
}

.my-venues-top {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.my-venues-top > div {
  display: flex;
  flex-direction: column;
}

.my-venues-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.my-venues-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #111;
}

.create-venue-button-1 {
  height: 44px;
  padding: 12px 24px;
  border-radius: 8px;
  background: #0a2540;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-venue-button-1:hover {
  background: #103860;
}

/* the list of the venue cards */
.my-venue-card {
  border-radius: 8px;
  border: 1px solid rgba(10, 37, 64, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.my-venue-image {
  height: 260px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

.my-venue-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-venue-info {
  padding-top: 16px;
  padding-bottom: 16px;
}

.my-venue-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.my-venue-info p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin-bottom: 4px;
  color: #111;
  font-weight: 400;
}
.my-venue-info .my-venue-price{
  font-weight: 700;
  font-size: 20px;
  margin-top: 6px;
}

/* Actions section */
.my-venue-actions {
  padding-top :12px;
  padding-bottom: 12px;
  display: flex;
  gap: 12px;
}

/* Buttons */
.view-bookings-btn,
.edit-venue-btn,
.delete-venue-btn {
  height: 38px;
  padding: 0 14px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* View bookings  */
.view-bookings-btn {
  border: 2px solid #0a2540;
  color: #0a2540;
  background: #fff;
}

.view-bookings-btn:hover {
  background: #0a2540;
  color: #fff;
}

/* Edit Venue  */
.edit-venue-btn {
  background: #0a2540;
  color: #fff;
  border: none;
}

.edit-venue-btn:hover {
  background: #103860;
}

.delete-venue-btn {
  background: #EF4444;
  color: #fff;
  border: none;
}

.delete-venue-btn:hover {
  background: #c83c3c;
}

.my-venues-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}