.profile-page {
  padding: 32px 48px;
}

/* top of page / header*/
.profile-top {
  margin-bottom: 24px;
}

.profile-title {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #111;
  margin-bottom: 48px;
}

/* Card*/ 
.profile-card{
    display: flex;
}