.profile-page {
  padding: 32px 48px;
}

/* top of page / header*/
.profile-top {
  margin-bottom: 24px;
}

.profile-title {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #111;
  margin-bottom: 48px;
}

/* Card*/
.profile-card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(10, 37, 64, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  max-width: 600px;
}

/* avatar/ img*/
.profile-avatar-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #d9d9d9;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(10, 37, 64, 0.2);
}

.profile-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.profile-info p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin: 2px 0;
}
/* Btn*/
.profile-button {
  height: 44px;
  border-radius: 8px;
  background: #0a2540;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;

  font-weight: 600;
  margin-top: 16px;
  padding: 0 16px;
}
.profile-button:hover {
  background: #103860;
}

.avatar-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #0a2540;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
