.venues-page {
  padding: 32px 48px;
}

.venues-title {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.venues-subtitle {
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.all-venues-title {
  font-family: "Poppins", sans-serif;
  color: #111;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 32px;
}

.venue-search {
  display: flex;
  width: 400px;
  max-width: 100%;
  height: 40px;
  padding: 10px 10px 10px 12px;
  align-items: center;

  border-radius: 8px;
  border: 1.5px solid rgba(10, 37, 64, 0.3);

  background: #fff;

  color: #6b7280;

  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.venues-grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

/* pagination cont */
.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 24px 0;
}

/* pagination buttonz*/
.pagination button {
  font-family: "Inter", sans-serif;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover effedct */
.pagination button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

/* activee page */
.pagination .active-page {
  background-color: #111;
  color: white;
  border-color: #111;
  font-weight: 600;
}

@media (max-width: 768px) {
  .venues-page {
    padding: 16px;
  }

  .venues-title {
    font-size: 32px;
  }

  .venues-subtitle {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .venue-search {
    width: 100%;
    margin-bottom: 16px;
  }

  .all-venues-title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .venues-grid {
    gap: 16px;
    justify-content: center;
  }

  .pagination {
    margin: 16px 0;
    gap: 8px;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .venues-title {
    font-size: 28px;
  }
}
