.venue-details-page{
    padding: 32px 48px;
}

.top-of-page{
    margin-bottom: 24px;
}

.venue-details-header{
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.venue-details-loc{
    color: #111;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.layout-venue-details{
    display: flex;
    gap: 24px;
    align-items: flex-start;
}
.left-venue-details{
    flex: 1;
}

.venue-details-image{
    background: #D9D9D9;
    border-radius: 8px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 16px;
}
.venue-details-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-venue-details{
    font-size: 17px;
    max-width: 742px;
    font-family: "Inter", sans-serif;
}
.right