.venue-card-container{
    width: 380px;
    border-radius: 8px;
    border: 1px solid rgba(10, 37, 64, 0.2);
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.venue-image {
    height: 180px;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.venue-info{
    display: flex;
    flex-direction: column;
}
.venue-title{
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.venue-location{
    color: #111;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.venue-price{
    color: #111;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.venue-button{
    margin-top: 8px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background: #f97373;

    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;

    cursor: pointer;
}

.venue-button:hover {
    opacity: 0.9;
}