.venue-card-container{
    width: 380px;
    border-radius: 8px;
    border: 1px solid rgba(10, 37, 64, 0.2);
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.venue-image {
    height: 180px;
    border-radius: 8px;
    background-color: #D9D9D9;
}
